html {
  margin: 0;
}
/* 'Roboto', 'Poppins', 'Montserrat' */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

#root {
  position: relative;
}

h1 {
  font-family: 'Poppins';
  font-weight: 300;
  margin: 15px 0;
}

table {
  font-family: 'Montserrat';
}

input,
textarea {
  border: none;
  border-bottom: 2px solid #98c1bc;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #007658;
}

h3 {
  font-family: 'Poppins';
  font-weight: 300;
  margin-right: 10px;
}

.loader {
  margin: auto;
  border: 20px solid #e6ebe0;
  border-radius: 50%;
  border-top: 20px solid #007658;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
