html {
  margin: 0;
}
/* 'Roboto', 'Poppins', 'Montserrat' */
body {
  margin: 0;
  font-family: 'Roboto', 'Poppins', 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

#root {
  position: relative;
}

h1 {
  font-family: 'Poppins';
  font-weight: 300;
  margin: 15px 0;
}

table {
  font-family: 'Montserrat';
}

button {
  text-decoration: none;
  appearance: none;
  font-family: 'Poppins';
  color: white;
  background-color: #3ab796;
  text-align: center;
  cursor: pointer;
  border: 2px solid #3ab796;
  border-radius: 3px;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid #98c1bc;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #007658;
}

h3 {
  font-family: 'Poppins';
  font-weight: 300;
  margin-right: 10px;
}
